$resultHeight: 40px;

.postContainer {
  position: static;
  left: 0;
  right: 0;
  height: 100%;
  margin: 10px;
  padding: 5px;
  background-color: #fdfdfd;
  border: 3.5px solid rgba(147, 146, 222, 0.56);
  border-radius: 5px;
}

.searchContainer {
}

.searchInput {
  width: 100%;
  input {
  }
}

.searchResultPositioner {
  height: 0;
  width: 0;
}

.searchResult {
  background-color: white;
  position: absolute;
  width: calc(100vw - 68px);
  z-index: 1;
}

.searchResultItem {
  background-color: white;
  display: block;
  padding: 3px;
  border: 1px solid #ddd;
  margin-top: -1px;

  &:hover {
    background-color: grey;
  }

}

.searchResultWrapper {
  display: flex;
}

.resultLeft {
  display: inline-block;
  width: $resultHeight;
  height: $resultHeight;
}

.resultRight {
  display: inline-block;
  flex: 1;
  padding: 5px 9px;
}

.resultId {
  text-align: left;
  display: block;
  font-size: 12px;
  line-height: 10px;
  color: #999;
}

.resultName {
  text-align: left;
  display: block;
  font-size: 16px;
  color: #333;
}

.toPost {
  display: flex;

  .toPostLeft {
    display: inline-block;
  }

  .toPostRight {
    display: inline-block;
    flex: 1;
    margin-left: 15px;

    .toPostLine {
      border-bottom: 1px solid #dddddd;
      margin-top: 3px;
      text-align: left;

      .toPostLineIcon {
        color: #777;
        margin-right: 7px;
      }

      .toPostLineContents {
        color: #777;
      }
    }
  }
}

.actionRow {
  display: flex;
  margin-top: 8px;

  .actionRowFiller {
    flex: 1;

  }
  button {
    margin-left: 5px;
  }
}
